# Site settings
title: "Galaxy Belgium"
description: Belgian Galaxy Instance
email: galaxy@elixir-belgium.org
url: "https://usegalaxy.be" # the base hostname & protocol for your site, e.g. https://example.com
twitter_username: ELIXIRnodeBE
github_username:  usegalaxy-be

# Sass settings
sass:
  style: compressed
  sourcemap: never

# Render pages with following url structure: /:categories/:year/:month/:day/:title
permalink: /:categories/:year/:month/:day/:title

# Load following plugins
plugins:
  - jekyll-feed
  - jekyll-scholar

# Bibliography settings
scholar:
  style: bioinformatics
  group_by: year
  order: descending
  sort_by: year
  group_order: descending

# Exclude from processing.
exclude:
   - Gemfile
   - Gemfile.lock
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "news"
