<footer>
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center gap-4">
      <a href="https://www.elixir-belgium.org/" rel="noopener" target="_blank">
        <img src="/assets/media/ELIXIR_BELGIUM_white_background.svg" class="img-fluid funder-logo" />
      </a>
      <a href="https://www.ugent.be/en" rel="noopener" target="_blank">
        <img src="/assets/media/logo_UGent_EN_RGB_color.svg" class="img-fluid funder-logo" />
      </a>
      <a href="https://vib.be/" rel="noopener" target="_blank">
        <img src="/assets/media/FWO-logo.svg" class="img-fluid funder-logo" />
      </a>
      <a href="https://www.vscentrum.be/" rel="noopener" target="_blank">
        <img src="/assets/media/VSC_new_logo.webp" class="img-fluid funder-logo" />
      </a>
      <a href="http://www.vib.be/en/pages/default.aspx" rel="noopener" target="_blank">
        <img src="/assets/media/vib_rf_plant_systems_biology_rgb_pos.png" class="img-fluid funder-logo " />
      </a>
      <a href="https://www.ewi-vlaanderen.be/" target="_blank" rel="noopener" >
        <img src="/assets/media/EWI_leeuw_ENG.jpg" class="img-fluid funder-logo" />
      </a>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <h6>SITE LINKS</h6>
        <div class="row" id="footer-site-links">
          <div class="col-md-6">
            <small>
              <a href="/request">Support</a> <br>
              <a href="/about#acknowledgement-statement">Acknowledging Galaxy Australia</a> <br>
              <a href="/about#feature-catalogue">Feature catalogue</a> <br>
              <a href="/about#terms-of-service">Terms and conditions</a>
            </small>
          </div>

          <div class="col-md-6">
            <small>
              <a href="/about#data-privacy">Privacy and data collection</a> <br>
              <a href="/about#acceptable-use">Acceptable use</a> <br>
              <a href="/about#service-levels">Service levels</a>
            </small>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-md-6">
            <h6>ACKNOWLEDGEMENTS</h6>
            <p class="tight">
              <small>
                We acknowledge and pay respect to the Elders and Traditional Owners
                of the lands on which our partner organisations stand.
              </small>
            </p>
          </div>

          <div class="col-md-6">
            <h6>CONNECT</h6>
            <p>
              <a href="mailto:help@genome.edu.au">
                <i class="fas fa-envelope"></i>
              </a>

              <a href="https://github.com/usegalaxy-au" target="_blank">
                <i class="fab fa-github"></i>
              </a>

              <a href="https://twitter.com/galaxyaustralia" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
