<footer class="py-5 bg-light border-top">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center gap-3">
      <a href="https://www.elixir-belgium.org/" rel="noopener" target="_blank" class="d-flex align-items-center">
        <img src="{{'/assets/media/ELIXIR_BELGIUM_white_background.svg' | relative_url }}" alt="ELIXIR Belgium logo" class="logo" />
      </a>
      <a href="https://www.ugent.be/en" rel="noopener" target="_blank" class="d-flex align-items-center">
        <img src="{{'/assets/media/logo_UGent_EN_RGB_color.svg' | relative_url }}" alt="UGent logo" class="logo" />
      </a>
      <a href="http://www.vib.be/en/pages/default.aspx" rel="noopener" target="_blank" class="d-flex align-items-center">
        <img src="{{'/assets/media/VIB-RGB-notagline-pos.png' | relative_url }}" alt="PSB VIB logo" class="logo " />
      </a>   
      <a href="https://www.vscentrum.be/" rel="noopener" target="_blank" class="d-flex align-items-center">
        <img src="{{'/assets/media/VSC_new_logo.webp' | relative_url }}" alt="VSC logo" class="logo" />
      </a>

      <a href="https://www.fwo.be/" rel="noopener" target="_blank" class="d-flex align-items-center">
        <img src="{{'/assets/media/FWO-logo.svg' | relative_url }}" alt="FWO logo" class="logo" />
      </a>
      <a href="https://www.ewi-vlaanderen.be/" target="_blank" rel="noopener" class="d-flex align-items-center">
        <img src="{{'/assets/media/EWI_leeuw_ENG.svg' | relative_url }}" alt="EWI logo" class="logo" />
      </a>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-3">
        <h6>Contact us</h6>
        <ul class="mb-0 list-unstyled">
          <li><i class="fas fa-envelope me-2"></i><a href="mailto:galaxy@elixir-belgium.org">galaxy@elixir-belgium.org</a></li>
          <li><i class="fab fa-github me-2"></i><a href="https://github.com/usegalaxy-be">usegalaxy-be</a></li>
          <li> <i class="fab fa-twitter me-2"></i><a href="https://twitter.com/ELIXIRnodeBE">ELIXIRnodeBE</a></li>
        </ul>
      </div>

      <div class="col-md-5">
        <h6>License</h6>
        <p>
          <small>
            All content on this site is available under CC0-1.0, unless otherwise specified.
          </small>
        </p>
      </div>
      <div class="col-md-4">
        <h6>Funding</h6>
        <p>
          <small>
            The coordination of ELIXIR Belgium is entrusted to VIB
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
