<footer>
  <div class="container logo">
    <div class="text-center">
      <a href="https://www.elixir-belgium.org/" target="_blank">
        <img src="/assets/media/ELIXIR_BELGIUM_white_background.png" class="img-responsive eu-image" />
      </a>
      <a href="https://www.vscentrum.be/" target="_blank">
        <img src="/assets/media/VSC_new_logo.png" class="img-responsive eu-image" />
      </a>
      <a target="_blank">
        <img src="/assets/media/fwo_logo.jpg" class="img-responsive eu-image" />
      </a>
      <a target="_blank">
        <img src="/assets/media/EWI_leeuw_ENG.jpg" class="img-responsive eu-image" />
      </a>

    </div>

    <div class="text-center second">
      <a href="https://www.elixir-belgium.org/" target="_blank">
        <img src="/assets/media/ELIXIR_BELGIUM_white_background.png" class="img-responsive eu-image" />
      </a>
      <a href="https://www.ugent.be/en" target="_blank">
        <img src="/assets/media/UGent_EN.png" class="img-responsive eu-image" />
      </a>
      <a target="_blank">
        <img src="/assets/media/fwo_logo.jpg" class="img-responsive eu-image" />
      </a>
      <a href="https://www.vscentrum.be/" target="_blank">
        <img src="/assets/media/VSC_new_logo.webp" class="img-responsive eu-image" />
      </a>
      <a href="http://www.vib.be/en/pages/default.aspx" target="_blank">
        <img src="/assets/media/vib_rf_plant_systems_biology_rgb_pos.png" class="img-responsive eu-image" />
      </a>
      <a target="_blank">
        <img src="/assets/media/EWI_leeuw_ENG.jpg" class="img-responsive eu-image" />
      </a>
    </div>
  </div>


  <div class="container">
    <hr>
    <div class="row" id="footer-links-row">
      <div class="col" id="footer-galaxy-logo">
        <a href="/">
          <img src="/static/logos/footer/galaxy-black.fde3d258d085.svg" alt="Galaxy logo black">
        </a>
      </div>

      <div class="col-6">
        <h6>SITE LINKS</h6>
        <div class="row" id="footer-site-links">
          <div class="col-md-6">
            <small>
              <a href="/request">Support</a> <br>
              <a href="/about#acknowledgement-statement">Acknowledging Galaxy Australia</a> <br>
              <a href="/about#feature-catalogue">Feature catalogue</a> <br>
              <a href="/about#terms-of-service">Terms and conditions</a>
            </small>
          </div>

          <div class="col-md-6">
            <small>
              <a href="/about#data-privacy">Privacy and data collection</a> <br>
              <a href="/about#acceptable-use">Acceptable use</a> <br>
              <a href="/about#service-levels">Service levels</a>
            </small>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-md-6">
            <h6>ACKNOWLEDGEMENTS</h6>
            <p class="tight">
              <small>
                We acknowledge and pay respect to the Elders and Traditional Owners
                of the lands on which our partner organisations stand.
              </small>
            </p>
          </div>

          <div class="col-md-6">
            <h6>CONNECT</h6>
            <p>
              <a href="mailto:help@genome.edu.au">
                <i class="fas fa-envelope"></i>
              </a>

              <a href="https://github.com/usegalaxy-au" target="_blank">
                <i class="fab fa-github"></i>
              </a>

              <a href="https://twitter.com/galaxyaustralia" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
