{% for notice in site.data.notices %}
<div class="d-flex justify-content-between alert alert-{{ notice.class }} m-2" role="alert">
    <div>
        <h5>{{ notice.title }}</h5>
        {% assign messages = notice.messages | sort:'date' | reverse %}
        {% for message in messages %}
        <div>{% if message.date %}[{{ message.date | date: "%-d %B %Y %H:%M" }}] {% endif %}{{ message.message | markdownify }}</div>
        {% endfor %}
    </div>
    <div >
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
