<!-- Navigation -->
{% if page.hide_topnav != true %}
<header>
    <nav class="navbar navbar-light navbar-expand-xsm mb-3 mb-xsm-5">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <ul class="navbar-nav">
                    <!-- navigation entries -->
                    {%- assign topnav = site.data.topnav %}
                    {%- for item in topnav.subitems %}
                    <li class="nav-item {% if item.subitems %}dropdown {% endif %}ms-0 ms-lg-3 mt-2 mt-lg-0">
                        {%- assign page_sidebar = page.sidebar | downcase | replace: "-", "_" | replace: " ", "_" %}
                        {%- assign nav_title = item.title | downcase | replace: "-", "_" | replace: " ", "_" %}
                        {%- if item.external_url %}
                        <a class="nav-link ps-2" href="{{item.external_url}}" target="_blank" rel="noopener">{{item.title}}</a>
                        {%- elsif page.url == item.url or page_sidebar == nav_title %}
                        <a class="nav-link ps-2 active" aria-current="page" href="{{item.url | relative_url }}">{{item.title}}</a>
                        {%- elsif item.subitems %}
                        <a class="nav-link ps-2 dropdown-toggle" href="#" id="Dropdown{{item.title | jsonify }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{item.title}}</a>
                        <ul class="dropdown-menu" aria-labelledby="Dropdown{{item.title | jsonify }}">
                            {%- for subitem in item.subitems %}
                            <li>
                                {%- if page.url == subitem.url %}
                                <a class="dropdown-item active" href="{{subitem.url | relative_url }}">{{ subitem.title }}</a>
                                {%- elsif subitem.external_url %}
                                <a class="dropdown-item" href="{{subitem.external_url}}" target="_blank" rel="noopener">{{subitem.title}}</a>
                                {%- else %}
                                <a class="dropdown-item" href="{{subitem.url | relative_url }}">{{ subitem.title }}</a>
                                {%- endif %}
                            </li>
                            {%- endfor %}
                        </ul>
                        {%- else %}
                        <a class="nav-link ps-2" href="{{item.url | relative_url }}">{{item.title}}</a>
                        {%- endif %}
                    </li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
{%- endif %}
