<nav class="navbar navbar-expand embedded">
    <a class="navbar-brand" href="/">
        <span class="australia">Galaxy Australia</span> Media
    </a>

    <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="/">
                Home
            </a>
            <a class="nav-link" href="/news">
                News
            </a>
            <a class="nav-link" href="/about">
                Get started
            </a>
            <a class="nav-link" href="/events">
                Events
            </a>
            <a class="nav-link" href="/about">
                About
            </a>
        </div>
    </div>
</nav>