--- 
layout: none
permalink: assets/css/main
---

@import "bootstrap/functions";

/*-----Theme colors-----*/

$galaxy-blue:#003399;
$galaxy-yellow: #D0BD2B;

$primary: $galaxy-blue;
$light: #f8f9fa;
$blue-link: #25537b;
$dark: #2c3143;

/*-----Bootstrap variables-----*/


@import "bootstrap/variables";

$link-color: $blue-link;
$link-decoration: none;
$card-cap-padding-y: $card-spacer-y;
$box-shadow-sm: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px, rgba($primary, .1) 0px 8px 20px,;
// Font changes
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: 
    url("../webfonts/AtkinsonHyperlegible-Regular.woff2") format("woff2"),
    url("../webfonts/AtkinsonHyperlegible-Bold.woff2") format("woff2"),
    url("../webfonts/AtkinsonHyperlegible-Italic.woff2") format("woff2"),
    url("../webfonts/AtkinsonHyperlegible-BoldItalic.woff2") format("woff2");
}

$font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-size-base: 0.85rem;
$lead-font-size: 1.1rem;
$card-title-size: 0.95rem;
$blockquote-font-size: $font-size-base * 1.1;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.3;


// Create new theme colors
$custom-colors: (
  "galaxy-blue": $galaxy-blue,
  "galaxy-yellow": $galaxy-yellow
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


/*-----Include other SASS files-----*/

@import "bootstrap/bootstrap";

/*-----General styling-----*/

main {
  h1 {
    font-weight: 400;
    margin-bottom: $spacer * 1.5;
  }

  h2 {
    font-weight: 500;
    color: $primary;
    margin-top: $spacer * 1.5;
  }

  h3 {
    margin-top: $spacer * 1.5;
  }

  h4 {
    color: $secondary;
    margin-top: $spacer * 1.5;
  }

  h3 + h4 {
    margin-top: $spacer * 0.25;
  }

  a:not(.btn):not(.dropdown-item) {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    font-weight: bold;
  }

  b, strong {
    font-weight: bold;
  }

  ol li,
  ul li {
    &::marker {
      color: $primary;
      font-weight: 600;
    }
  }
  // Make sure images scale
  img {
    @extend .img-fluid;
  }
}

// Size logo's footer
.logo {
  max-height: 100px;
  min-width: 180px;
}

// Hover shadow tiles homepage
.front-panel{
    &:hover {
    box-shadow: $box-shadow !important;
  }
  .title {
    font-size: $card-title-size;
  }
}
