--- 
layout: none
permalink: assets/css/main
---

@import "bootstrap/functions";

/*-----Theme colors-----*/

$primary: #25537b;
$light: #f8f9fa;
$blue: #039;
$dark: #2c3143;

/*-----Bootstrap variables-----*/

$link-decoration: none;


@import "bootstrap/variables";

$link-color: $blue;
$card-cap-padding-y: $card-spacer-y;
$font-family-base: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$font-size-base: .85rem;
$lead-font-size: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.3;

/*-----Include other SASS files-----*/

@import "bootstrap/bootstrap";

/*-----General styling-----*/

main {
  h1 {
    font-weight: 400;
    margin-bottom: $spacer * 1.5;
  }

  h2{
    font-weight: 600;
    color: $primary;
    margin-top: $spacer * 1.5;
  }

  h3 {
    margin-top: $spacer * 1.5;
  }

  h4 {
    color: $secondary;
    margin-top: $spacer * 1.5;
  }

  h3 + h4 {
    margin-top: $spacer * 0.25;
  }

  a:not(.btn):not(.dropdown-item) {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;

  }

  ol li,
  ul li {
    margin: $spacer * 0.5 0;

    &::marker {
      color: $primary;
      font-weight: 600;
    }
  }
}

.logo {
  max-height: 100px;
  min-width: 180px;
}

.front-panel:hover {
  box-shadow: $box-shadow !important;
}
