--- 
layout: none
permalink: assets/css/main
---
@import "bootstrap/functions";

/*-----Theme colors-----*/

$primary: #25537b;

/*-----Bootstrap variables-----*/

$link-decoration: none;

@import "bootstrap/variables";

$grid-breakpoints: (
  xs: 0,
  xsm: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$link-color: $blue;

/*-----Include other SASS files-----*/

@import "bootstrap/bootstrap";


.funder-logo {
    max-height: 100px;
    min-width: 180px;
}
