<!doctype html>
<html lang="en">
{% include head.html %}

<body class="d-flex flex-column min-vh-100">
    {% include topnav.html %}
    <!-- Page Content -->
    <div class="container flex-grow-1">
        <main id="main" class="mb-5">
            {% unless page.frontpage == true %}
            <div class="mb-4">
                <a href="{{ '/' | relative_url }}" class="link-secondary"><i class="fa-solid fa-arrow-left-long me-2"></i>Back</a>
            </div>
            {% endunless %}
            {{content}}
        </main>
    </div>
    {% include footer.html %}
</body>

</html>
